@import '../../../assets/styles/variables.scss';

.singleProductContainer {
  padding: 15px 25px;
  width: 60vw;
  border: black solid 2px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .iconContainer {
      display: flex;
      align-items: center;
      font-size: 1.5em;
      cursor: pointer;

      .icon {
        padding: 5px;
        margin: 0 5px;
        transition: transform 0.2s ease-in;

        &:hover {
          transform: translateY(-3px);
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .center {
    .productProperty {
      display: flex;
      align-items: center;
      padding: 7px 0;
    }
  }
}

@media (max-width: $phone-breakpoint) {
  .singleProductContainer {
    width: 80vw;
  }
}
