$phone-breakpoint: 480px;

.status {
   padding: 5px;
   border-radius: 5px;

   &.Delivered {
      color: green;
      background-color: rgba(0, 128, 0, 0.151);
   }

   &.Pending {
      color: goldenrod;
      background-color: rgba(189, 189, 3, 0.103);
   }
}

.buttonContainer {
   display: flex;
   align-items: center;
   justify-content: flex-end;
}

@media (max-width: $phone-breakpoint) {
   .buttonContainer {
      button {
         padding: 3px;
         font-size: 10px;
         margin-left: 3px;
         border: rgb(80, 80, 80) 1.5px solid;
      }

      .icon {
         font-size: 8px !important;
      }
   }
}
