$phone-breakpoint: 480px;
$tablet-breakpoint: 1024px;
$light-blue: #18bdac;

.productTableContainer {
   .tableTitle {
      margin-bottom: 10px;
   }
   .buttonContainer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
   }
}

@media (max-width: $phone-breakpoint) {
   .buttonContainer {
      button {
         padding: 3px !important;
         padding-right: 6px !important;
         font-size: 10px !important;
         margin-left: 3px !important;
         border: rgb(80, 80, 80) 1.5px solid !important;
      }

      .icon {
         font-size: 8px !important;
      }
   }
}
