@import '../../variables.scss';

.registerContainer {
  background-image: url(../../../public/assets/OG27A00.jpg);
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  .bodyContainer {
    background-color: white;
    border: 7px solid $light-blue;
    padding: 20px;
    min-width: 60vw;

    .top {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $light-blue;

      h1,
      h4 {
        text-align: center;
      }
    }

    .bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 10px;
    }

    .footer {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      span {
        font-size: small;
        text-decoration: underline;
        color: $light-blue;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: $phone-breakpoint) {
  .loginContainer {
    .bodyContainer {
      width: 70%;

      .top {
        h4 {
          font-size: 13px;
        }
        h1 {
          font-size: 36px;
        }
      }
    }
  }
}
