@import '../../../../variables.scss';

.sortableProductRowContainer {
   .status {
      text-align: center;
      padding: 3px;
   }

   .buttonContainer {
      display: flex;
      justify-content: flex-end;

      .rowButton {
         &:hover {
            background-color: rgb(80, 80, 80);
            color: white;
         }

         &.more {
            border: none;
         }
      }
   }
}

@media (max-width: $tablet-breakpoint) {
   .sortableProductRowContainer {
      cursor: pointer;
   }
}
