.modalWrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: rgba($color: #000000, $alpha: 0.3);
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in;

  &.active {
    opacity: 1;
  }

  .modalContainer {
    opacity: 0;
    background-color: white;
    transition: opacity 0.3s ease-in;

    &.active {
      opacity: 1;
    }
  }
}
