.inputFieldContainer {
  display: flex;
  flex-direction: column;

  .property {
    display: flex;
    flex-direction: column;

    // label {
    //   margin-right: 10px;
    // }

    input {
      margin-top: 5px;
    }
  }
}
