.inputDropdownContainer {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &.disabled {
    cursor: default;
  }

  .inputContainer {
    border: 1px solid rgb(80, 80, 80);
    border-radius: 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0 0 0;
    padding: 0;
    cursor: pointer;
    height: fit-content;

    &.disabled {
      background-color: #f6f6f6;
      border-color: rgba(118, 118, 118, 0.3);
      cursor: default;
    }

    .searchInput {
      border: none;
      cursor: pointer;
      padding: 1px 4px;

      &:focus {
        outline: none;
      }

      &.disabled {
        background-color: transparent;
        color: #545454;
        cursor: default;
      }
    }

    .icon {
      &.disabled {
        color: rgb(80, 80, 80);
      }
    }
  }
}
