@import '../../variables.scss';

.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 90vh;

  .loginContainer {
    border-color: $light-blue;
    border-width: 5px;
    margin: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      color: $light-blue;
      text-transform: uppercase;
    }
  }
}
