@import '../../variables.scss';

.shoppingCartContainer {
   width: calc(100% - $container-width-desktop);
   margin-left: $container-width-desktop;
   display: flex;
   flex-direction: column;

   .bodyContainer {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 20px;
      border: 2px solid #a1a1a1;

      .shoppingCartBody {
         margin-top: 30px;

         .top {
            .product {
               border-bottom: #757575 1px solid;
               display: flex;
               align-items: center;
               justify-content: space-between;
               min-width: 100%;

               &:last-child {
                  border-bottom: none;
               }

               .left {
                  .productDetails {
                     display: flex;
                     flex-direction: column;
                     margin-top: 10px;
                     margin-bottom: 10px;

                     span {
                        padding: 5px;

                        &.id {
                           font-size: smaller;
                           margin-top: 2px;
                        }
                     }
                  }
               }

               .right {
                  .buttonContainer {
                     display: flex;
                     align-items: center;
                     justify-content: center;
                     margin-right: 30px;

                     .editAmountButton {
                        margin: 0px 10px;
                     }
                  }
               }
            }
         }

         .bottom {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            width: 100%;

            .orderButton {
               min-width: 100% !important;
               color: white;
               background-color: black;
               border: black solid 2px !important;
               font-size: 18px;
            }

            .orderButtonIcon {
               font-size: 18px !important;
            }
         }
      }
   }
}

@media (max-width: $phone-breakpoint) {
   .shoppingCartContainer {
      width: calc(100% - $container-width-mobile) !important;
      margin-left: $container-width-mobile !important;

      .bodyContainer {
         width: 80% !important;

         .shoppingCartBody {
            .top {
               .product {
                  flex-direction: column;
                  align-items: flex-start;

                  .right {
                     display: flex;
                     align-items: center;
                     justify-content: center;
                     width: 100%;

                     .buttonContainer {
                        margin-right: 0px;
                        margin-bottom: 20px;
                     }
                  }
               }
            }
         }
      }
   }
}
