@import '../../variables.scss';

.profileContainer {
   width: calc(100% - $container-width-desktop);
   margin-left: $container-width-desktop;
   display: flex;
   flex-direction: column;

   .bodyContainer {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 20px;
      border: 2px solid #a1a1a1;
   }
}

@media (max-width: $phone-breakpoint) {
   .profileContainer {
      width: calc(100% - $container-width-mobile) !important;
      margin-left: $container-width-mobile !important;

      .bodyContainer {
         width: 80% !important;
      }
   }
}
