.tableTitleContainer {
   display: flex;
   align-items: baseline;
   justify-content: space-between;

   .titleContainer {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .tableTitle {
         cursor: pointer;
         display: inline-block;
         position: relative;

         &::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: black;
            transform-origin: bottom left;
            transition: transform 0.25s ease-out;
         }

         &:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
         }
      }
   }

   button {
      .tableTitleIcon {
         font-size: 20px !important;
         margin-left: 3px;
         transition: transform 0.25s ease;
      }

      &:hover .tableTitleIcon {
         transform: translateX(3px);
      }
   }
}
