@import '../../../variables.scss';

.registerFormContainer {
   width: 90%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

   .formInput {
      width: 100% !important;
   }

   .buttonContainer {
      display: flex;
      justify-content: center;
   }
}
