$phone-breakpoint: 480px;

.boxModal {
   position: absolute;
   top: 50%;
   left: calc(50% + 18px);
   transform: translate(-50%, -50%);
   width: 70%;
   max-height: 80vh;
   overflow: hidden;
   overflow-y: auto;
   background-color: white;
   border: 2px solid black;
   padding: 10px;

   .titleContainerModal {
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
         background-color: white;
         border: none;

         .modalCloseIcon {
            cursor: pointer;
         }
      }
   }
}

@media (max-width: $phone-breakpoint) {
   .boxModal {
      width: 85%;
      left: (50%);
   }
}
