.dropdownContainer {
   position: relative;
   width: 120px;

   .dropdownIcon {
      position: absolute;
      right: -5%;
      cursor: pointer;
   }

   .dropdownInput {
      border: none;
      background-color: transparent;
      width: inherit;
      padding: 5px;

      &:focus {
         outline: none !important;
         cursor: pointer;
      }

      &.open {
         cursor: pointer;
         border: 1px solid black;
      }

      &.editable {
         border: 1px solid black;
         border-radius: 5px;
      }
   }

   .dropdownContent {
      display: none;
      flex-direction: column;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;

      &.active {
         display: flex;
      }

      span {
         color: black;
         padding: 12px 16px;
         text-decoration: none;
         display: block;
         cursor: pointer;

         &:hover {
            background-color: #ddd;
         }
      }
   }
}
