@import '../../variables.scss';

.itemContainer {
   border-bottom: #757575 1px solid;
   display: flex;
   align-items: center;
   justify-content: space-between;
   min-width: 100%;

   &:last-child {
      border-bottom: none;
   }

   .left {
      .productDetails {
         display: flex;
         flex-direction: column;
         margin-top: 10px;
         margin-bottom: 10px;

         span {
            padding: 5px;

            &.id {
               font-size: smaller;
               margin-top: 2px;
            }
         }
      }
   }

   .right {
      .buttonContainer {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         margin-right: 30px;

         .editAmountContainer {
            display: flex;
            align-items: center;
            justify-content: center;

            .editAmountButton {
               margin: 0px 10px;
            }
         }

         .deleteItemContainer {
            margin-top: 10px;
         }
      }
   }
}

@media (max-width: $phone-breakpoint) {
   .itemContainer {
      flex-direction: column;
      align-items: flex-start;

      .right {
         display: flex;
         align-items: center;
         justify-content: center;
         width: 100%;

         .buttonContainer {
            margin-right: 0px;
            margin-bottom: 20px;
         }
      }
   }
}
