.iconButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;

  .icon {
    font-size: inherit;

    &.left {
      margin-right: 3px;
    }

    &.right {
      margin-left: 3px;
    }
  }
}
