@import '../../../shared/constants/variables.scss';

.buttonContainer {
  background-color: $light-blue;
  color: white;
  padding: 5px 20px;
  font-weight: 600;
  border: 2px $light-blue solid;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #fff;
    color: $light-blue;
    border: 2px $light-blue solid;
  }
}
