@import '../variables.scss';

.homeContainer {
  display: flex;
  flex-direction: column;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: $tablet-breakpoint) {
  .homeContainer {
    .top {
      .button {
        .icon {
          margin-left: 3px;
        }
      }
    }
  }
}
