.status {
   padding: 5px 10px !important;
   border-radius: 5px;

   &.input {
      padding: 5px !important;
   }

   &.delivered,
   &.active,
   &.instock,
   &.available {
      color: green;
      background-color: rgba(0, 128, 0, 0.151) !important;
   }

   &.pending,
   &.requested {
      color: goldenrod;
      background-color: rgba(189, 189, 3, 0.103) !important;
   }

   &.processing {
      color: #2c5470;
      background: #5aa3b9 !important;
   }

   &.inactive,
   &.unavailable {
      color: crimson;
      background-color: rgba(220, 20, 60, 0.068) !important;
   }
}
