$phone-breakpoint: 480px;
$tablet-breakpoint: 1024px;

.productEditModalContainer {
   display: flex;
   flex-direction: column;
   padding: 5px;
   margin-bottom: 20px;

   .top {
      flex: 1;
      padding-top: 10px;
      width: 100%;
   }

   .bottom {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      .buttonContainer {
         display: flex;
      }
   }
}

@media (max-width: $tablet-breakpoint) {
   .basicModalContainer {
      .left {
         margin-bottom: 10px;
      }
   }
}

@media (max-width: $phone-breakpoint) {
   .basicModalContainer {
      .left {
         margin-bottom: 10px;
      }
   }
}
