$phone-breakpoint: 480px;
$tablet-breakpoint: 1024px;
$padding: 10px;

.productEditModalContainer {
   display: flex;
   flex-direction: column;
   padding: 5px;
   margin-bottom: 20px;

   // .top {
   //    flex: 1;
   //    padding-top: 10px;
   //    width: 100%;
   // }

   .buttonContainer {
      display: flex;
      padding: $padding;
      justify-content: center;

      .button {
         margin-left: 10px !important;
      }
   }
}

@media (max-width: $tablet-breakpoint) {
   .basicModalContainer {
      .left {
         margin-bottom: 10px;
      }
   }
}

@media (max-width: $phone-breakpoint) {
   .basicModalContainer {
      .left {
         margin-bottom: 10px;
      }
   }
}
