$phone-breakpoint: 480px;
$tablet-breakpoint: 1024px;

.productInfoModalContainer {
   display: flex;
   flex-direction: column;
   padding: 5px;
   margin-bottom: 20px;

   .orderContainer {
      display: flex;
      flex-direction: column;
      align-items: center;

      .amountContainer {
         display: flex;
         flex-direction: row;
         align-items: center;
         margin-bottom: 15px;

         .modalButton {
            margin: 0px 20px;
         }

         .amount {
            font-size: 24px;
         }
      }

      .orderButton {
         padding: 5px;
         margin-left: 5px;

         .orderIcon {
            margin-right: 5px;
            font-size: 25px !important;
         }
      }
   }
}

@media (max-width: $tablet-breakpoint) {
   .productInfoModalContainer {
      .bottom {
         .orderButton {
            font-size: 16px;
            padding: 10px !important;
         }
      }
   }
}

@media (max-width: $phone-breakpoint) {
}
