.editProductFormContainer {
  .editForm {
    .inputGrid {
      display: grid;
      // grid-template-columns: fit-content(300px) 1fr;
      grid-template-columns: 200px 200px;
      column-gap: 100px;
      row-gap: 5px;
      padding: 10px 0px;

      .amountGroup {
        display: flex;
        align-items: center;

        .inputField {
          width: 98px;

          &:first-child {
            margin-right: 5px;
          }
        }
      }
    }
  }

  .buttonGroup {
    display: flex;
    align-items: center;
    justify-content: center;

    .button {
      width: 130px;
      margin: 0 7px;
    }
  }
}
