.status {
   padding: 5px;
   border-radius: 5px;

   &.Delivered,
   &.Active {
      color: green;
      background-color: rgba(0, 128, 0, 0.151);
   }

   &.Pending {
      color: goldenrod;
      background-color: rgba(189, 189, 3, 0.103);
   }

   &.InActive {
      color: crimson;
      background-color: rgba(220, 20, 60, 0.068);
   }
}
