@import '../../../../variables.scss';

.sortableOrderRowContainer {
   .buttonContainer {
      display: flex;
      justify-content: flex-end;

      .rowButton {
         &:hover {
            background-color: rgb(80, 80, 80);
            color: white;
         }

         &.more {
            border: none;
         }
      }
   }
}
.sortableOrderSubRowContainer {
   .subTableProduct {
      padding: 10px 20px 0px 20px;
   }
}

@media (max-width: $tablet-breakpoint) {
   .sortableOrderRowContainer {
      cursor: pointer;
   }
}
